---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de SpaceX">
  <h1>Acerca de SpaceX</h1>
  <p>
    SpaceX es una empresa aeroespacial fundada en 2002 por Elon Musk. Su
    objetivo principal es reducir los costos de los viajes espaciales y hacer
    posible la colonización de Marte. Ha desarrollado cohetes reutilizables como
    el Falcon 9 y la nave Starship, y ha realizado misiones para la NASA,
    satélites comerciales y su propia red de internet satelital, Starlink.
  </p>
</Layout>
